*.gitattributes
*.project
*.settings
/platform-util/*.project
/platform-util/*
/platform-util/*.classpath
/platform-util/*.settings
/platform-model/*.project
/platform-model/*
/platform-model/*.classpath
/platform-model/*.settings
/platform-ejb/*.project
/platform-ejb/*
/platform-ejb/*.classpath
/platform-ejb/*.settings
/platform-web/*.project
/platform-web/*
/platform-web/*.classpath
/platform-web/*.settings
/platform-ear/*.project
/platform-ear/*
/platform-ear/*.settings
/platform-client/*.project
/platform-client/*
/platform-client/*.classpath
/platform-client/*.settings